<div class="signup-container">
   <mat-card>
      <mat-card-header>
         <mat-card-title>Sign up</mat-card-title>
      </mat-card-header>
      <mat-card-content>
         <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill">
               <mat-label>Username</mat-label>
               <input matInput type="text" formControlName="username" placeholder="Username" required />
               <mat-error *ngIf="signUpForm.get('username')?.touched && signUpForm.get('username')?.errors?.['required']"> Username is required </mat-error>
               <mat-error *ngIf="signUpForm.get('username')?.touched && signUpForm.get('username')?.errors?.['minlength']">
                  Username minimum length is
                  {{ this.signUpForm.get('username')?.errors?.['minlength']?.['requiredLength'] }}
                  character
               </mat-error>
               <mat-error *ngIf="signUpForm.get('username')?.touched && signUpForm.get('username')?.errors?.['maxlength']">
                  Username maximum lenth is
                  {{ this.signUpForm.get('username')?.errors?.['maxlength']?.['requiredLength'] }}
                  cataracter
               </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
               <mat-label>Email</mat-label>
               <input matInput type="email" formControlName="email" placeholder="Email" required />
               <mat-error *ngIf="signUpForm.get('email')?.touched && signUpForm.get('email')?.errors?.['required']"> Email is required </mat-error>
               <mat-error *ngIf="signUpForm.get('email')?.touched && signUpForm.get('email')?.errors?.['email']"> Email format is invalid </mat-error>
               <mat-error *ngIf="signUpForm.get('email')?.errors?.['emailInUse']"> Email is already in use </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
               <mat-label>Password</mat-label>
               <input matInput type="password" formControlName="password" placeholder="Password" required />
               <mat-error *ngIf="signUpForm.get('password')?.touched && signUpForm.get('password')?.errors?.['required']"> Password is required </mat-error>
               <mat-error *ngIf="signUpForm.get('password')?.touched && signUpForm.get('password')?.errors?.['minlength']">
                  Password minimum length is
                  {{ this.signUpForm.get('password')?.errors?.['minlength']?.['requiredLength'] }}
                  character
               </mat-error>
               <mat-error *ngIf="signUpForm.get('password')?.touched && signUpForm.get('password')?.errors?.['maxlength']">
                  Password maximum length is
                  {{ this.signUpForm.get('password')?.errors?.['maxlength']?.['requiredLength'] }}
                  character
               </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
               <mat-label>Confirm password</mat-label>
               <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm password" required />
               <mat-error *ngIf="signUpForm.get('confirmPassword')?.touched && signUpForm.get('confirmPassword')?.errors?.['required']">
                  Confirm password is required
               </mat-error>
            </mat-form-field>
            <mat-error *ngIf="signUpForm?.errors?.['PasswordNoMatch']"> Passwords do not match </mat-error>
            <button mat-raised-button color="primary" type="submit" [disabled]="signUpForm.invalid">Sign up</button>
         </form>
      </mat-card-content>
      <mat-card-actions>
         <button mat-button routerLink="/signin">Already have an account? Sign in here!</button>
      </mat-card-actions>
   </mat-card>
</div>
