$extreme-light: #f3f3bd;
$very-light: rgba(243, 186, 72, 1);
$light: rgba(225, 146, 56, 1);
$medium: rgba(216, 152, 83, 1);
$dark: rgba(146, 109, 70, 1);
$very-dark: rgb(105, 81, 51);
$extreme-dark: rgba(72, 53, 41, 1);
