
#compName img {
  height: 50px;
  border-radius: 10px;
}

#compName {
  display: flex;
  height: 100%;
  align-content: center;
  color: #6b2e02;
  font-family: sans-serif;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#compName > * {
  margin: 0 10px;
}

#compName span {
  font-size: 40px;
  font-family: "Playball", cursive;
  font-weight: 200;
  font-style: normal;
}

.sidenav-container {
  height: 100%;
  background-color: #f3f3bd;
  font-family: Bahnschrift, sans-serif;
}

.sidenav {
  width: 250px;
}

.menu-item {
  cursor: pointer;
  text-decoration: none;
  color: white;
  padding: 10px 30px;
  display: block;
  border-radius: 10px;
}

.active-link {
  background-color: #8c3a00;
}

.menu-item:hover {
  color: #e8e817;
}

mat-toolbar {
  background-color: #9d7611;
  position: sticky;
  top: 0;
  z-index: 1000;
}

footer img {
  height: 50px;
  border-radius: 10px;
}

footer {
  z-index: 100;
  background-color: #9d7611;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: auto;
}
