.sidenav-container {
  height: 100%;
  background-color: #f3f3bd;
  font-family: Bahnschrift, sans-serif;
}

.sidenav {
  width: 250px;
}

.menu-item {
  cursor: pointer;
  text-decoration: none;
  color: white;
  padding: 10px 30px;
  display: block;
  border-radius: 10px;
}

.active-link {
  background-color: #8c3a00;
}

.menu-item:hover {
  color: #e8e817;
}

mat-toolbar{
  background-color: #9d7611;
}






