<div class="cards"
     fxLayout="row wrap"
     fxLayoutAlign="space-evenly center">
  <!--  aromatherapy-->
  <mat-card>
    <mat-card-header>
      <mat-card-title>Aromatherapy massage</mat-card-title>
      <mat-card-subtitle>60 min 30EUR</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/massageCover/aromatherapy.jpg" alt="Photo of a aromatherpy">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="book('aroma')">Booking</button>
    </mat-card-actions>
  </mat-card>
  <!-- couples-->
  <mat-card>
    <mat-card-header>
      <mat-card-title>Couples massage</mat-card-title>
      <mat-card-subtitle>60min 50EUR</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/massageCover/couples.jpg" alt="Photo of a couples">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="book('couples')">Booking</button>
    </mat-card-actions>
  </mat-card>
  <!-- thai-->
  <mat-card>
    <mat-card-header>
      <mat-card-title>Thai massage</mat-card-title>
      <mat-card-subtitle>60 min 30EUR</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/massageCover/thai.jpg" alt="Photo of a thai">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="book('thai')">Booking</button>
    </mat-card-actions>
  </mat-card>
</div>
