/* You can add global styles to this file, and also import other style files */
@import './styles/global-variables';

body {
  height: 100%;

  margin: 0;
  font-family: Bahnschrift, sans-serif;
  font-size: 1rem;
}

//edit scroll bar
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $extreme-light;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

